.fa-css-btn
  a.fa-css-btn__single href=""
    .fa-css-btn__bg.fa-css-btn__bg--tw
    .fa-css-btn__text
      .fa-css-btn__text-en Twitter
      .fa-css-btn__text-ja ツイッター
  a.fa-css-btn__single href=""
    .fa-css-btn__bg.fa-css-btn__bg--fb
    .fa-css-btn__text
      .fa-css-btn__text-en FaceBook
      .fa-css-btn__text-ja フェイスブック
  a.fa-css-btn__single href=""
    .fa-css-btn__bg.fa-css-btn__bg--gh
    .fa-css-btn__text
      .fa-css-btn__text-en GitHub
      .fa-css-btn__text-ja github